
body {
	font-size: 3vw;
	font-family: "Trebuchet MS", Verdana;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 100px;
}
ul, ol {
	text-align:left;
	margin-left: auto;
	margin-right: auto;
	padding-left:20%;
	padding-right: 20%;
	background-color: #e5ebee;
	padding-top: 3vw;
	padding-bottom: 3vw;
}
li {
	margin-top: 20px;
	margin-bottom: 20px;
}
#purchase {
	border: 1px solid black;
	font-size: 3vw;
	line-height: 5vw;
	cursor: pointer;
	margin: 5vw;
}
p {
	text-align:left;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	font-size: 2vw;
	line-height: 2em;
}
h1, h2, h3 {
	margin: 5%;
}
.small {
	font-size: 1.5vw;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	line-height: 2em;
}

#lang {
	width:80%;
	margin-left:auto;
	margin-right: auto;
	display:block;
	font-size: 3vw;
}
.button {
	border: 1px solid black;
	font-size: 3vw;
	line-height: 5vw;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


@media ( max-width: 600px ) {
	body {
		font-size: 4vw;
	}
	#purchase {
		font-size: 5vw;
		height: 8vw;
		line-height: 8vw;
	}
	p {
		font-size: 3vw;
	}
	.small {
		font-size: 2.5vw;
	}
}

@media ( min-width: 601px ) {
	body {
		margin-left: 20%;
		margin-right: 20%;
	}
}
